body, table {
    margin: 0;
    padding: 0;
}

/* Style the main page container */
.container {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px; /* Slightly smaller font size */
    margin: auto;
    width: calc(min(100%, 1320px) - 40pt); /* Responsive width */
}

/* Add a border to the container element */
.tab-container {
    border-bottom: 1px solid #555;
    margin-bottom: 7px;
}

/* Style the links to look like tabs */
.log-link {
    display: inline-block;
    padding: 8px 17px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #bbb;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

/* Style the selected tab */
.log-link.selected {
    border-color: #333;
    border-bottom: 1px solid white;
    border-top: 3px solid #333;
    background-color: white;
    margin-bottom: -1px;
    font-weight: bold;
}

/* Make all links black */
a {
    color: black;
}

/* Style the search span to have everything on one line and be right-justified */
.search-header {
    display: flex;
    justify-content: flex-end;
}

/* Style the log table to responsively fit all screen sizes, and wrap text to avoid scrolling if possible */
table {
    width: 100%;
    text-align: center;
    text-wrap: pretty;
    word-wrap: break-word;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 6px;
}

th {
    background-color: #777777;
    color: white;
    font-weight: bold;
}

/* Monospace font for HTTP request column */
.code {
    font-family: Cascadia, Consolas, monospace;
    text-align: left;
    padding-left: 9pt;
}

.green {
    font-weight: bold;
    color: black;
    background-color: rgb(128, 204, 128);
}

.red {
    font-weight: bold;
    color: black;
    background-color: rgb(252, 199, 199);
}

/* Style alternating rows */
tr:nth-child(even) {
    background-color: #f0f0f0;
}

/* Text box with 16pt font and wide left and right margins */
.text-box {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 12px;
}

/* Center the buttons */
.button-set {
    text-align: center;
}

/* Styling the button for a modern look */
.toggle-button {
    margin-bottom: 18px;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 8px 10px; /* Larger padding for a bigger button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal; /* Bold font weight */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Change background color on hover to a brighter green */
.toggle-button:hover {
    background-color: #5CDB60;
}

.toggle-button.red {
    background-color: red;
}

.toggle-button.red:hover {
    background-color: lightcoral;
}

.toggle-button.gray {
    background-color: rgb(69, 69, 69);
}

.toggle-button.gray:hover {
    background-color: rgb(137, 137, 137);
}

/* Light gray style with white text for disabled buttons */
.toggle-button.disabled {
    background-color: #d0d0d0;
    color: white;
    cursor: not-allowed;
}
