/* Style the main page container */
.container {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400; /* Normal font weight */
    margin: auto;
    width: calc(min(100%, 1080px) - 40pt); /* Responsive width */
}

/* Add a border to the container element */
.tab-header {
    border-bottom: 1px solid #555;
    margin-bottom: 7px;
}

/* Style the links to look like tabs */
.tab {
    font-size: 1.05em;
    display: inline-block;
    padding: 7px 17px;
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #bbb;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #555;
}

/* Add left margin to the first tab */
.tab:first-child {
    margin-left: 21px; /* adjust as needed */
}

/* Style the selected tab */
.tab.selected {
    font-weight: 600;
    font-size: 1.1em;
    border-color: #333;
    border-bottom: 2px solid white;
    border-top: 3px solid #333;
    margin-bottom: -1px;
    background-color: white;
    color: black;
}

/* Lighten the unselected tabs on hover */
.tab:hover:not(.selected) {
    background-color: #fafafa;
    color: #333;
}

/* Heading styles */
h1 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 6px;
    font-weight: 500;
}

#heatmap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes full width */
}

#log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes full width */
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.loader.small {
    width: 20px;
    height: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Make links bold & black by default */
a {
    color: black;
    font-weight: 500;
}

/* White links for the header */
a.header {
    color: white;
}

/* Style the search span to have everything on one line and be right-justified */
.search-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

/* Style the form to be right-justified */
.search-form {
    display: inline;
}

.text-box {
    font-family: inherit;
    font-size: inherit;
    margin-left: 11px;
    margin-right: 7px;
    width: 200px;
}

/* Status text styling */
.status {
    margin: 5px;
    font-size: 12pt;
}

/* Checkbox label styling */
.checkbox-label {
    display: inline-block;
    margin-right: 5px;
    margin-left: 21px;
    font-size: 10pt;
    cursor: pointer;
    user-select: none;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

/* Style tables to have a smaller font size */
table, th, td {
    border: 3px solid white;
    margin-bottom: 9px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    word-wrap: break-word;
    border-collapse: collapse;
}

/* Style the log table to have a smaller font size and be centered */
table.log {
    font-size: 12.5px;
    width: 100%;
    text-align: center;
}

/* Style the table header row */
th {
    background-color: #777777;
    color: white;
    font-weight: 1000;
}

/* Hidable columns */
th.hideable, td.hijhgjhghtyuytfdeable {
    display: table-cell;
}

/* Style alternating rows */
tr:nth-child(even) {
    background-color: #e6f2ff;
}

/* Status colors */
.green {
    font-weight: 600;
    color: black;
    background-color: rgb(176 230 176);
}
.red {
    font-weight: 700;
    color: black;
    background-color: rgb(252 216 216);
}
.gray {
    font-weight: 500;
    color: black;
    background-color: #eeeeee;
}

/* Monospace font for request column */
.code {
    font-family: 'Roboto Mono';
    text-align: left;
    padding-left: 7pt;
}

/*** Buttons ***/

/* Center the buttons */
.button-set {
    text-align: center;
}

/* Styling the button for a modern look */
.toggle-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500; /* Bold font weight */
    margin-bottom: 7px;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 7px 9px; /* Larger padding for a bigger button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.toggle-button:hover {
    background-color: #5CDB60;
}

.toggle-button.tight {
    font-size: 0.9em;
    font-weight: 300;
    background-color: #546a8a;
    padding: 1px 3px;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Light gray style with white text for disabled buttons */
.toggle-button.tight.disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
}

.toggle-button.red {
    background-color: coral;
}

.toggle-button.red:hover {
    background-color: lightcoral;
}

.toggle-button.gray {
    background-color: rgb(70, 70, 70);
}

.toggle-button.gray:hover {
    background-color: rgb(137, 137, 137);
}

/* Light gray style with white text for disabled buttons */
.toggle-button.disabled {
    background-color: #d0d0d0;
    color: white;
    cursor: not-allowed;
}

/* Shrink the font sizes on smaller screens */
@media screen and (max-width: 720px) {
    .container {
        font-size: 11px;
        width: calc(min(100%, 1080px) - 10pt);
    }
    .toggle-button {
        font-size: 11px;
    }
    .text-box {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 3px;
        font-size: 11px;
        width: 120px;
    }
    .status {
        margin: 1px;
        font-size: 9pt;
    }
    th.hideable, td.hideable {
        display: none;
    }
    table, th, td {
        font-size: 11px;
    }
}
